/**navbar**/
nav a:hover{
    color: #212529 !important;
    background-color: white !important;
}
#s.l.s:hover{
    color: white !important;
    background-color: #212529 !important;
}
/**card**/
.image{
    height: 414px;
}
/**carousel**/
.ca{
    height: 700px !important;
}